.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}
.gap-25 {
  gap: 20px;
}
.table {
  width: 100%;

  tfoot td {
    border-top: 1px solid #ddd;
  }
}

.table thead {
  background: #eee;
  font-size: 14px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;

  &.btn-default {
    background: #009688;
    color: white;
  }

  &.btn-primary {
    background-color: #3f51b5;
    color: white;
  }
  &.btn-danger {
    background-color: #f44336;
    color: white;
  }
  &.btn-success {
    background-color: green;
    color: white;
  }
}

// specific CSS
input,select{
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
}
.app-wrapper {
  width: 70%;
  margin: 0 auto;

  .title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    
    h2{
      margin-bottom: 0;
    }
    p{
      margin-top: 5px;
      margin-bottom: 0;
      color: #444;
    }
  }
}
.top-part > div,
.bottom-part > div {
  flex-grow: 1;
  min-width: 50%;
}

.info{
  border-radius: 25px;
  background-color: #444;
  color: white;
  padding: 2px 8px;
  font-size: 13px;
  display: inline-block;
  margin-right: 5px;
}
@media only screen and (max-width: 600px) {
  .app-wrapper {
    width: 98%;
    .title {
      text-align: center;
      border-bottom: 1px solid #888;
    }
  }

  .header {
    flex-direction: column;
    > div {
      margin-top: 20px;
    }
  }

  .top-part > div,
  .bottom-part > div {
    width: 100%;

    .table td input{
      width: 90%;
    }
  }

  .top-part,
  .bottom-part {
    flex-direction: column;
  }
}
